<div class="modal filter-modal">
  <div class="modal-fade-screen is-active">
    <div class="card modal-inner">
      <h2>Filter Units</h2>
      <div class="modal-close">×</div>
      <div class="modal-content">
        <hr>
        <p><strong>Unit Sizes</strong></p>
        <ul class="detailed-checkbox sizes">
          <li>
            <label for="option1">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option1" id="option1" />
            </label>
          </li>
          <li>
            <label for="option2">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option2" id="option2" />
            </label>
          </li>
          <li>
            <label for="option3">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option3" id="option3" />
            </label>
          </li>
          <li>
            <label for="option4">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option4" id="option4" />
            </label>
          </li>
        </ul>
        <br/><br/>
        <p><strong>Unit Amenities</strong></p>
        <ul class="detailed-checkbox amenities">
          <li>
            <label for="option5">
              <%= image_tag 'unit-features/climate-control.svg' %>
              <div class="text-block">
                <h3>Climate Control</h3>
              </div>
              <input type="checkbox" name="option1" id="option5" />
            </label>
          </li>
          <li>
            <label for="option6">
              <%= image_tag 'unit-features/parking.svg' %>
              <div class="text-block">
                <h3>Parking</h3>
              </div>
              <input type="checkbox" name="option2" id="option6" />
            </label>
          </li>
          <li>
            <label for="option7">
              <%= image_tag 'unit-features/first-floor.svg' %>
              <div class="text-block">
                <h3>First Floor</h3>
              </div>
              <input type="checkbox" name="option2" id="option7" />
            </label>
          </li>
          <li>
            <label for="option8">
              <%= image_tag 'unit-features/drive-up-access.svg' %>
              <div class="text-block">
                <h3>Drive-up Access</h3>
              </div>
              <input type="checkbox" name="option2" id="option8" />
            </label>
          </li>
          <li>
            <label for="option9">
              <%= image_tag 'unit-features/wine-storage.svg' %>
              <div class="text-block">
                <h3>Wine Storage</h3>
              </div>
              <input type="checkbox" name="option3" id="option9" />
            </label>
          </li>
          <li>
            <label for="option10">
              <%= image_tag 'unit-features/promotions.svg' %>
              <div class="text-block">
                <h3>Promotions</h3>
              </div>
              <input type="checkbox" name="option4" id="option10" />
            </label>
          </li>
        </ul>
        <a href="#" class="button-primary">Apply Filter</a>
        <a href="#" class="button-neutral-outline">Clear</a>
      </div>
    </div>
  </div>
</div>