<footer class="page-footer">
	<div class="footer-block-container">
		<div class="footer-blocks">
			<div class="footer-block expander is-active">
				<h2>Help Center</h2>
				<button class="link-neutral trigger">Help Center</button>
				<ul>
					<li><a href="">Link One</a></li>
					<li><a href="">Link Two</a></li>
					<li><a href="">Link Three</a></li>
					<li><a href="">Link Four</a></li>
				</ul>	
			</div>
			<div class="footer-block expander is-active">
				<h2>General</h2>
				<button class="link-neutral trigger">General</button>
				<ul>
					<li><a href="">Link One</a></li>
					<li><a href="">Link Two</a></li>
					<li><a href="">Link Three</a></li>
					<li><a href="">Link Four</a></li>
				</ul>	
			</div>
			<div class="footer-block link-with-icon">
				<h2>Reach Out</h2>
				<ul>
					<li><a href=""><%= image_tag 'utility-icons/phone-colored.svg', alt: 'Facebook' %> Link One</a></li>
					<li><a href=""><%= image_tag 'utility-icons/email-colored.svg', alt: 'Facebook' %> Link Two</a></li>
				</ul>	
			</div>
			<div class="footer-block">
				<h2>Follow Us</h2>
				<ul class="social-icons">
					<li><a href=""><%= image_tag 'social-icons/blue/facebook.svg', alt: 'Facebook' %></a></li>
					<li><a href=""><%= image_tag 'social-icons/blue/instagram.svg', alt: 'Instagram' %></a></li>
					<li><a href=""><%= image_tag 'social-icons/blue/twitter.svg', alt: 'Twitter' %></a></li>
					<li><a href=""><%= image_tag 'social-icons/blue/pinterest.svg', alt: 'Pinterest' %></a></li>
				</ul>	
			</div>
		</div>
		<div class="legal-block">
			<p>All offers subject to change without notice. All fees are non-refundable. Special and discount pricing offered only on selected units and subject to availability. Special offer applies only to the rental fee. Other restrictions, taxes, tenant protection and fees, including an administrative fee, apply. See lease for full details. Special or discount pricing good for new customers only. Not available on transfers or additional spaces. Reservation and paid reservation fee required to guarantee price. Actual unit sizes may vary from approximate size estimate on website. Please inspect any unit before renting. Online pricing available only for online reservations and rentals. Lease is a month to month lease prorated the first month only, the final month runs until last day of the month.</p>
			<p class="copyright">Copyright 2019 © Storage Rentals of America. All Rights Reserved. </p>
			<ul>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Terms of Service</a></li>
			</ul>	
		</div>
	</div>
</footer>