<section class="nearby-block-container">
	<header class="centered">
		<span>Subheader</span>
		<h2>Section Header</h2>
	</header>		
	<div class="responsive">
		<div class="slide">
			<div class="card location-card">
				<div class="image-block">
					<%= image_tag 'samples/location-units.png', alt:'' %>
					<div class="pricing">
						<p>Units from</p>
						<span><strong>$30</strong><small>/month</small></span>
					</div>
				</div>
				<div class="text-block">
					<h3>Hobe Sound II</h3>
					<i class="stars-5"></i>
					<ul>
						<li>
							<%= image_tag 'utility-icons/location.svg', alt:'' %> 
							<p>
								<strong>20 miles away</strong><br/>
								<small>2112 Tilton St Greenwich, OH 44837</small>
							</p>
						</li>
						<li>
							<%= image_tag 'utility-icons/phone.svg', alt:'' %> 
							<p>973-510-2550</p>
						</li>
					</ul>
					<a href="" class="button-secondary">Browse Units</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="card location-card">
				<div class="image-block">
					<%= image_tag 'samples/location-units.png', alt:'' %>
					<div class="pricing">
						<p>Units from</p>
						<span><strong>$30</strong><small>/month</small></span>
					</div>
				</div>
				<div class="text-block">
					<h3>Hobe Sound II</h3>
					<i class="stars-5"></i>
					<ul>
						<li>
							<%= image_tag 'utility-icons/location.svg', alt:'' %> 
							<p>
								<strong>20 miles away</strong><br/>
								<small>2112 Tilton St Greenwich, OH 44837</small>
							</p>
						</li>
						<li>
							<%= image_tag 'utility-icons/phone.svg', alt:'' %> 
							<p>973-510-2550</p>
						</li>
					</ul>
					<a href="" class="button-secondary">Browse Units</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="card location-card">
				<div class="image-block">
					<%= image_tag 'samples/location-units.png', alt:'' %>
					<div class="pricing">
						<p>Units from</p>
						<span><strong>$30</strong><small>/month</small></span>
					</div>
				</div>
				<div class="text-block">
					<h3>Hobe Sound II</h3>
					<i class="stars-5"></i>
					<ul>
						<li>
							<%= image_tag 'utility-icons/location.svg', alt:'' %> 
							<p>
								<strong>20 miles away</strong><br/>
								<small>2112 Tilton St Greenwich, OH 44837</small>
							</p>
						</li>
						<li>
							<%= image_tag 'utility-icons/phone.svg', alt:'' %> 
							<p>973-510-2550</p>
						</li>
					</ul>
					<a href="" class="button-secondary">Browse Units</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="card location-card">
				<div class="image-block">
					<%= image_tag 'samples/location-units.png', alt:'' %>
					<div class="pricing">
						<p>Units from</p>
						<span><strong>$30</strong><small>/month</small></span>
					</div>
				</div>
				<div class="text-block">
					<h3>Hobe Sound II</h3>
					<i class="stars-5"></i>
					<ul>
						<li>
							<%= image_tag 'utility-icons/location.svg', alt:'' %> 
							<p>
								<strong>20 miles away</strong><br/>
								<small>2112 Tilton St Greenwich, OH 44837</small>
							</p>
						</li>
						<li>
							<%= image_tag 'utility-icons/phone.svg', alt:'' %> 
							<p>973-510-2550</p>
						</li>
					</ul>
					<a href="" class="button-secondary">Browse Units</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="card location-card">
				<div class="image-block">
					<%= image_tag 'samples/location-units.png', alt:'' %>
					<div class="pricing">
						<p>Units from</p>
						<span><strong>$30</strong><small>/month</small></span>
					</div>
				</div>
				<div class="text-block">
					<h3>Hobe Sound II</h3>
					<i class="stars-5"></i>
					<ul>
						<li>
							<%= image_tag 'utility-icons/location.svg', alt:'' %> 
							<p>
								<strong>20 miles away</strong><br/>
								<small>2112 Tilton St Greenwich, OH 44837</small>
							</p>
						</li>
						<li>
							<%= image_tag 'utility-icons/phone.svg', alt:'' %> 
							<p>973-510-2550</p>
						</li>
					</ul>
					<a href="" class="button-secondary">Browse Units</a>
				</div>
			</div>
		</div>
	</div>
</section>