<section class="overlay-wrapper">
	<div class="image-block" style="background: url('../images/hero-sample.jpg') no-repeat center;"></div>
	<div class="overlay-block-container">
		<header class="centered">
			<span>Subheader</span>
			<h2>Section Header</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin vel ipsum quis consequat. </p>
		</header>
		<ul>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
			<li>
				<%= image_tag 'samples/climate-control.svg', alt:'' %>
				<p>Feature Item</p>
			</li>
		</ul>
	</div>
</section>