<div class="modal storage-assistant">
  <div class="modal-fade-screen is-active">
    <div class="card modal-inner">
      <header class="centered">
        <%= image_tag 'assistant.svg', alt:'' %>
        <span>Storage Assistant</span>
        <h2>What size are you looking for?</h2>
      </header>
      <div class="modal-close">×</div>
      <div class="modal-content">
        <ul class="detailed-checkbox">
          <li>
            <label for="option1">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option1" id="option1" />
            </label>
          </li>
          <li>
            <label for="option2">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option2" id="option2" />
            </label>
          </li>
          <li>
            <label for="option3">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option3" id="option3" />
            </label>
          </li>
          <li>
            <label for="option4">
              <%= image_tag 'samples/5x5.jpg' %>
              <div class="text-block">
                <h3>Small</h3>
                <p>About a small to large walk in closet.</p>
              </div>
              <input type="checkbox" name="option4" id="option4" />
            </label>
          </li>
        </ul>
        <div class="button-block">
          <a href="#" class="button-neutral">Back</a>
          <a href="#" class="button-primary">Continue</a>
        </div>
      </div>
    </div>
  </div>
</div>