---
title: Second Brain Healthcare
---

<nav>
	<a href="" class="logo">
		<%= image_tag 'logo.svg', alt: 'Second Brain Healthcare' %>
	</a>
	<ul>
		<li>
			<a href="#about">About</a>
		</li>
		<li>
			<a href="#for-you">Is Second Brain for You?</a>
		</li>
		<li>
			<a href="#how-it-works">How it works</a>
		</li>
		<li>
			<a href="#our-approach">Our Approach</a>
		</li>
		<li>
			<a href="" class="button-light-outline">Get Started</a>
		</li>
	</ul>
</nav>

<main>
	<header class="page-header" style="background: url('/images/lifestyle/texting.jpg') no-repeat center;">
		<div class="header-block-container">
			<div class="text-block">
				<h1>Heal your gut without leaving home</h1>
				<p>Digestive diseases and disorders are not only uncomfortable, but left untreated, can lead to more serious, chronic illness. </p>
				<a href="" class="button-light">Get Started</a>
			</div>
		</div>
	</header>

	<section class="image-text-block-container" id="about">
		<%= image_tag 'lifestyle/group.jpg', alt: '' %>
		<div class="text-block">
			<h2>Second Brain Healthcare is a here to heal your gut.</h2>
			<p>Your gut health drives almost every facet of your health including: digestion, immune system function, energy levels, sleep regulation, vitamin absorption, mood, and even your brain function. Your gut is constantly sending signals to your brain around the overall start of your well-being which is why it's sometimes called your second brain. Second Brain Healthcare is designed for people to heal their guts from the comfort of the home, work, wherever.</p>
		</div>
	</section>
	
	<section class="wrapper" id="for-you">
		<div class="checkbox-block-container">
			<header class="section-header centered">
				<h2>Is Second Brain for You?</h2>
				<p>74% of Americans are living with GI discomfort and we believe that, with a healthy gut, a life without discomfort is possible. Symptoms of a unhealthy gut can include:</p>
			</header>
			<div class="form">
				<script type="text/javascript" src="https://form.jotform.com/jsform/92668599525174"></script>
			</div>
		</div>
	</section>

	<section class="grid-block-container" id="how-it-works">
		<header class="section-header centered">
			<h2>How it Works</h2>
			<p>Second Brain is designed for people to heal their guts wherever their busy lives take them.</p>
		</header>
		<ul>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/workout.jpg', alt: '' %>
				</div>
				<h3>Diagnose</h3>
				<p>Empowering you with answers and many of our patients have dealt with - doctors telling them everything is fine, misdiagnosis, etc. We understand that this is frustrating and our clinicians quickly identify underlying causes and hidden imbalances through at-home lab testing.</p>
			</li>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/outside.jpg', alt: '' %>
				</div>
				<h3>Treat</h3>
				<p>Our team of clinicians and nutritionists prescribe customized treatment plans made up of combination of medication, supplements, and nutritional plans that heal your gut.</p>
			</li>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/cooking.jpg', alt: '' %>
				</div>
				<h3>Support</h3>
				<p>Your second brain is your gut. It is constantly sending signals to your brain around the overall state of your well-being. This primal connection impacts almost every facet of your health.  Gut health drives: digestion, immune system function, sleep regulation, vitamin absorption, mood, and even your brain function.</p>
			</li>
		</ul>
	</section>

	<section class="wrapper" id="our-approach">
		<div class="process-block-container">
			<header class="section-header centered">
				<h2>Our Approach</h2>
				<p>Taking care of your gut is not an easy task and our team is here to heal you and then help you sustain a new level of health.</p>
			</header>

			<ul>
				<li>
					<%= image_tag 'icons/symptoms.svg', alt: '' %>
					<p>Discuss your symptoms with your clinician</p>
				</li>
				<li>
					<%= image_tag 'icons/testing.svg', alt: '' %>
					<p>At home lab testing -7-10 business day</p>
				</li>
				<li>
					<%= image_tag 'icons/clinician.svg', alt: '' %>
					<p>Review test results and custom treatment plan with clinician</p>
				</li>
				<li>
					<%= image_tag 'icons/diet.svg', alt: '' %>
					<p>Review custom diet protocol with nutritionist</p>
				</li>
				<li>
					<%= image_tag 'icons/heal.svg', alt: '' %>
					<p>Heal gut</p>
				</li>
				<li>
					<%= image_tag 'icons/support.svg', alt: '' %>
					<p>On-going nutritional support for keeping a healthy gut</p>
				</li>
			</ul>
			<a href="" class="button-neutral">Get Started</a>
		</div>
	</section>

	<section class="wrapper dark">
		<div class="job-block-container">
			<div class="text-block">
				<h2>Join Our Team</h2>
				<p>Second Brain is a digital health startup based in Chicago. We believe that good gut health is paramount to our overall health and well being. Our model is designed to treat gut health consistently, find the root cause of disruption quickly, developing protocols that heal and support the gut.  We are looking for team members that are passionate about the gut health space and bringing quality gut healthcare to the next level.</p>
			</div>
			<ul class="accordion">
			  <li>
			    <a href="javascript:void(0)" class="js-accordion-trigger">
			    	<%= image_tag 'icons/clinician.svg', alt: '' %>
			    	<h3>Medical Director</h3>
				</a>
			    <div class="submenu wysiwyg-formatting">
			      <p>We are looking for someone who wants to help us from the ground up, and be involved in all stages including ideation, helping to develop, and iterating on the clinical pathways that best serve our patients.</p>
			      <br/>
			      <p><strong>Responsibilities include:</strong></p>
			      <ul>
			      	<li>Developing proprietary clinical pathways to be used across our entire network of physicians</li>
			      	<li>Creating our standard of digital care that can scale across all patient interactions</li>
			      	<li>Build out our growing list of diagnosis and clinical direction</li>
			      	<li>Helping to hire and train the right doctors  </li>
			      </ul>
			      <p><strong>Who we're looking for: </strong></p>
			      <ul>
			      	<li>MD or DO with 2-3 years experience in integrative or functional medicine or similar field</li>
			      	<li>Someone who understands the latest functional medicine lab-work </li>
			      	<li>Someone with a true passion for gut health and a vast knowledge of digestive disease and treatments</li>
			      	<li>Someone with a positive attitude and entrepreneurial mindset that is looking to help build and grow a digital practice </li>
			      </ul>
			    </div>
			  </li>
			</ul>
		</div>	
	</section>
</main>

<footer>
	<p>© Second Brain Healthcare. All Rights Reserved.</p>
</footer>

<script type="text/javascript">
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  e.preventDefault();
});
</script>