---
title: Second Brain Healthcare
---

<nav>
	<a href="/" class="logo">
		<%= image_tag 'logo.svg', alt: 'Second Brain Healthcare' %>
	</a>
	<ul>
		<li>
			<a href="#about">About</a>
		</li>
		<li>
			<a href="#for-you">Is Second Brain for You?</a>
		</li>
		<li>
			<a href="#how-it-works">How it works</a>
		</li>
		<li>
			<a href="#our-approach">Our Approach</a>
		</li>
		<li>
			<a href="/contact.html" class="button-light-outline">Request Info</a>
		</li>
	</ul>
</nav>

<main>
	<header class="page-header" style="background: url('/images/lifestyle/texting.jpg') no-repeat center;">
		<div class="header-block-container">
			<div class="text-block">
				<h1>Heal your gut without leaving home.</h1>
				<a href="/contact.html" class="button-light">Request more info today</a>
			</div>
		</div>
	</header>

	<section class="image-text-block-container" id="about">
		<%= image_tag 'lifestyle/group.jpg', alt: '' %>
		<div class="text-block">
			<h2>Second Brain Healthcare is a digital healthcare company dedicated to improving outcomes and lowering the cost to diagnose and treat functional gut diseases.</h2>
			<p>Our technology-enabled platform provides patients with a fast and accurate diagnosis and unparalleled access to an integrated, multi-disciplinary, and collaborative team of gut health specialists throughout their patient journey.</p>
		</div>
	</section>

	<section class="fact-block-container" id="facts">
		<header class="section-header centered">
			<h2>Functional Gut Disease and Disorders are at an <strong>All-Time High and their impact on patient Quality of life is significant</strong></h2>
			<p>Our technology-enabled platform provides patients with a fast and accurate diagnosis and unparalleled access to an integrated, multi-disciplinary, and collaborative team of gut health specialists throughout their patient journey.</p>
		</header>
		<ul class="facts">
			<li>
				<span>70M</span>
				<p>people in the United States are diagnosed each year with some form of digestive disease or disorder, most of which are chronic.</p>
			</li>
			<li>
				<span>14</span>
				<p>hours per week of lost productivity in patients with digestive diseases.</p>
			</li>
			<li>
				<span>20%</span>
				<p>(at least 73 days) a year of activity is restricted by digestive disease patients.</p>
			</li>
			<li>
				<span>25% to 30%</span>
				<p>of digestive disease patients suffer from depression or anxiety, a rate up to 6 times higher than the control population.</p>
			</li>
		</ul>
	</section>
	
	<div class="callout" style="background: url('/images/lifestyle/reading.jpg') no-repeat center;">
		<div class="callout-block-container">
			<h2>Our gut tells us there has to be a better way</h2>
		</div>
	</div>
	
	<section class="wrapper" id="for-you">
		<div class="checkbox-block-container">
			<header class="section-header centered">
				<h2>Is Second Brain for you:</h2>
				<p> We believe that everyone deserves a life without discomfort or pain. Take the following quiz to see if Second Brain is right for you (check all that apply):</p>
			</header>
			<div class="form">
				<script type="text/javascript" src="https://form.jotform.com/jsform/92668599525174"></script>
			</div>
		</div>
	</section>

	<section class="grid-block-container" id="how-it-works">
		<header class="section-header centered">
			<h2>Integrated gut health care, digitally delivered.</h2>
			<p>How it works:</p>
		</header>
		<ul>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/workout.jpg', alt: '' %>
				</div>
				<h3>Diagnose</h3>
				<p>Our digital diagnostic tool helps patients get an accurate diagnosis within days and without visiting a doctor's office.</p>
			</li>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/outside.jpg', alt: '' %>
				</div>
				<h3>Treat</h3>
				<p>Our digital therapeutic offers personalized, AI-powered care plans based on evidence-based treatment protocols designed to minimize the use of prescription drugs, as well as the best-in-class educational resources per diagnosis.</p>
			</li>
			<li>
				<div class="image-block">
					<%= image_tag 'lifestyle/cooking.jpg', alt: '' %>
				</div>
				<h3>Support</h3>
				<p>Our platform brings together an integrated, multidisciplinary team of specialists to effectively manage chronic gut disease and flag and treat flare ups as they occur.</p>
			</li>
		</ul>
	</section>

	<section class="wrapper" id="our-approach">
		<div class="process-block-container">
			<header class="section-header centered">
				<h2>Our Approach</h2>
				<p>Taking care of your gut is not an easy task and our team is here to heal you and then help you sustain a new level of health.</p>
			</header>
			<%= image_tag 'lifestyle/approach.png', alt: '', class: 'graphic' %>
			<a href="/contact.html" class="button-neutral"">Request more info today</a>
		</div>
	</section>

	<section class="wrapper dark">
			<div class="job-block-container">
				<div class="text-block">
					<h2>Join Our Team</h2>
					<p>Second Brain is a digital health startup based in Chicago. We believe that good gut health is paramount to our overall health and well being. Our model is designed to treat gut health consistently, find the root cause of disruption quickly, developing protocols that heal and support the gut. We are looking for team members that are passionate about the gut health space and bringing quality gut healthcare to the next level.</p>
				</div>
				<ul class="accordion">
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">
				    	<%= image_tag 'icons/clinician.svg', alt: '' %>
				    	<h3>Full Stack & Front-end Developers</h3>
					</a>
				    <div class="submenu wysiwyg-formatting">
				      <p>Second Brain Healthcare – a digital healthcare company dedicated to creating a new standard of care in functional gut disease through our digital diagnostics and therapeutics – is looking for both Full Stack and Front-end developers to join the team. We're a fast-growing, early stage startup in Chicago. Our first product will be in market in 4 months – React-based consuming a serverless backend.</p>
				      <p>Interested in getting in on the ground floor?</p>
				      <p>We're looking for talented engineers to join us. While having development experience with React/AWS is a nice-to-have, what we're really looking for is talented, versatile, communicative self-starters, who have a knack for problem-solving and a commitment to craftsmanship.</p>
				      <p>Sound like you? If so, please reach out. We really want to hear from you. Please send us your resume along with anything else that helps us get to know you, and what you're looking for in a next role. Looking for a full-time position? Part-time? Remote? We’re Chicago based, though embracing a Remote-first approach to building the team. Interested? We're flexible.</p>
				      <p>We’re working hard to build the right team as we grow. If you're looking for an opportunity to make a meaningful difference, we'd love to chat.</p>
				      <p>Thanks for the consideration.</p>
				      <p>Sincerely, <br>The team at Second Brain</p>
      				<a href="mailto:engineering@secondbrainhealthcare.com" class="button-neutral">Send Resume</a>
				    </div>
				  </li>
				</ul>
			</div>	
		</section>
</main>

<footer>
	<p>© Second Brain Healthcare. All Rights Reserved.</p>
</footer>

<script type="text/javascript">
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  e.preventDefault();
});
</script>